<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="rempun" method="get">

        <h1>This is test Program</h1>
        <textarea name="Text" style="margin: 0px; height: 136px; width: 270px;"></textarea><br>
        <input type="checkbox" name="removepun"> Remove Punctuation <br>
        <input type="checkbox" name="newlinerem"> New Line Remover <br>
        <input type="checkbox" name="spacerem"> Sapce Remover <br>
        <input type="submit" name="submit">

    </form>

</body>